.contentBanner{
  position: relative;
  width: 100%;
  height: 4rem;
  .page-site-info {
    position: absolute;
    top: 2rem;
    padding: 0 .1rem;
    width: 100%;
    box-sizing: border-box;
    #site-title {
      font-size: 2.85em;
      color: white;
      text-align: center;
      text-shadow: 2px 2px 4px rgba(0,0,0,.15);
      line-height: 1.5;
      font-bottom: 700;
      font-family: 'TitilliumWeb';
    }
  }
}
@media (max-width: 768px){
  .contentBanner{
    height: 2.8rem;
    .page-site-info{
      top: 1.4rem;
      #site-title {
        font-size: 1.85em!important;
      }
    }
  }
}