html{
	font-size: 100px
}

body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,span,p{
	margin: 0;
	padding: 0;
}

a,ul,ol,li{
	text-decoration: none;
	list-style: none;
}

body{
	background: $defaultColor;
	color:$fontColor;
	font-size: 0.16rem;
	// overflow-x: hidden;
	overflow-y: auto;

	.flex{
		display: flex;
	}

	.fixed{
		position: fixed;
	}
}