$backgroundColor:var(--backgroundColor,white);
$defaultColor:var(--defaultColor,white);
$menuColor:var(--menuColor,#2e2f34);
$menuFontColor:var(--menuColor,white);
$fontColor:var(--fontColor,#2e2f34);