$backgroundColor:var(--backgroundColor,white);
$defaultColor:var(--defaultColor,white);
$menuColor:var(--menuColor,rgba(0,0,0,0.5));
$menuFontColor:var(--menuColor,white);

// font
$fontSize:var(--fontSize, 40px);
$fontColor:var(--fontColor,#2e2f34);
$smallFontSize:var(--smallFontSize, 20px);

// color
$lightGrey:var(--light-grey,#eeeeee)