.typed-cursor{
  margin: 0.32rem 0;
  font-weight: 100;
  font-size: $fontSize;
  background: rgba($color: #000000, $alpha: .5);
}

.typing{
  display: inline;
  font-weight: 100;
  background: rgba($color: #000000, $alpha: .5);
}

.typed-element{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-100%);
  display: inline;
  font-size: 0.2rem;
  font-family: 'Titillium Web,PingFang SC,Hiragino Sans GB,Microsoft JhengHei,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif';
  color: white;
}

@media (max-width: 768px){
  .typing{
    font-size: $smallFontSize;
  }
  .typed-cursor{
    font-size: $smallFontSize;
  }
}