.hoverButton{
  background: $cardColor;
  border: 2px solid $fontColor;
  border-radius: .1rem;
  text-align: center;
  line-height: .9rem;
  margin: 0 10px;
  box-shadow: 0 5px 20px -5px rgba(0,0,0,.4);
  overflow: hidden;
  a{
    display: block;
    position: relative;
    width: .9rem;
    height: .9rem;
    i{
      font-size: .25rem;
    }
    i::before{
      transition: all .4s;
    }
  }
  a::before{
    transition: all .6s cubic-bezier(.6,.12,0,1.45);
    content: '';
    position: absolute;
    top: 70%;
    left: -150%;
    width: 170%;
    height: 170%;
    transform: rotate(45deg);
  }
  a:hover{
    .iconfont::before{
      color: #fff;
      position: relative;
      z-index: 99;
    }
  }
  a:hover::before{
    top: -45%;
    left: -30%;
  }
}
