.hoverButton{
  background: $cardColor;
  border: 2px solid $fontColor;
  border-radius: .1rem;
  text-align: center;
  line-height: .9rem;
  margin: 0 10px;
  box-shadow: 0 5px 20px -5px rgba(0,0,0,.4);
  overflow: hidden;
  a{
    display: block;
    position: relative;
    width: .9rem;
    height: .9rem;
    i{
      font-size: .25rem;
    }
    i::before{
      transition: all .4s;
    }
  }
  a::before{
    transition: all .6s cubic-bezier(.6,.12,0,1.45);
    content: '';
    position: absolute;
    top: 70%;
    left: -150%;
    width: 170%;
    height: 170%;
    transform: rotate(45deg);
  }
  a:hover{
    .iconfont::before{
      color: #fff;
      position: relative;
      z-index: 99;
    }
  }
  a:hover::before{
    top: -45%;
    left: -30%;
  }
}
@media (max-width:660px) {
  .hoverButton{
    display: none;
  }
}
.btn{
  position: relative;
  width: 2rem;
  height: .6rem;
  border: 4px solid;
  font-width: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: .2rem;
}
.btn::after,.btn::before{
  content: '';
  position: absolute;
  width: 14px;
  height: 4px;
  background: $defaultColor;
  transform: skewX(50deg);
  transition: .4s linear;
}
.btn::before{
  top: -4px;
  left: 10%;
}
.btn::after{
  bottom: -4px;
  right: 10%;
}
.btn:hover::before{
  left: 80%;
}
.btn:hover::after{
  right: 80%;
}
