.loading{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.8);
  z-index:9999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-content1{
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 3px solid transparent;
  border-top-color: #9370db;
  border-radius: 50%;
  animation: routeCircle 2s linear infinite;
}
.loading-content1::before,.loading-content1::after{
  border-radius: 50%;
  content: '';
  display: block;
  border: 3px solid transparent;
  position: absolute;
}
.loading-content1::before{
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-top-color: #ba55d3;
  animation: routeCircle 3s linear infinite;
}
.loading-content1::after{
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border-top-color: #f0f;
  animation: routeCircle 1.5s linear infinite;
}
@keyframes routeCircle {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

//特效2
.loading2{
  margin-top: -20%;
  -webkit-box-reflect: below 5px -webkit-linear-gradient(transparent 10%,rgba(0,0,0,.5));
}
.loading-content2{
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: .2rem solid transparent;
  border-right-color: #06c8f0;
  border-bottom-color: #06c8f0;
  transform: rotate(45deg);
  animation: move 3s ease-in-out infinite alternate;
}
.ball{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: move-reverse 3s ease-in-out infinite alternate;
}
.ball::before{
  content: '';
  position: absolute;
  bottom: .25rem;
  left: .255rem;
  width: .3rem;
  height: .3rem;
  background: white;
  border-radius: 50%;
  transform: rotate(0deg);
}
@keyframes move {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}
@keyframes move-reverse {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-180deg);
  }
}

//特效3
.loding-content3{
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border-radius: 50%;
	border-top:10px solid #e74c3c;
	position:relative;
	animation: a1 2s linear infinite;
}

.loding-content3::before,.loding-content3::after{
	content: '';
	width: 200px;
	height: 200px;
	position: absolute;
	left: 0;
	top: -10px;
	box-sizing: border-box;
	border-radius:50%;
}
.loding-content3::before{
	border-top:10px solid #e67e22;
	transform: rotate(120deg);
}
.loding-content3::after{
	border-top:10px solid #3498db;
	transform: rotate(240deg);
}
.loding-content3 span{
	position:absolute ;
	width: 200px;
	height: 200px;
	color: #fff;
	text-align: center;
  line-height: 200px;
  animation: a2 2s linear infinite;
}
@keyframes  a1{
	to{
		transform: rotate(360deg);
	  }
}
@keyframes  a2{
	to{
		transform: rotate(-360deg);
	  }
}